<template>
<div class="">
    <el-form :model="formData" ref="formData">
        <el-upload
                class="upload-demo"
                drag
                ref="upload"
                :auto-upload="false"
                :data=this.formData
                :file-list="fileList"
                :on-success = "uploadSuccess"
                action="/api/cdr-file">
            <i class="el-icon-upload"></i>
            <div class="el-upload__text">Drop file here or <em>click to upload</em></div>
            <el-button type="primary" @click="submitUpload('formData')" v-if="!loading">Save Task</el-button>
            <el-button type="primary"  v-if="loading"><i class="fa fa-spinner fa-spin"></i> Submitting...</el-button>
        </el-upload>
    </el-form>
</div>
</template>
<script>
    import Vue from 'vue'
    import ElementUI from 'element-ui'
    import locale from 'element-ui/lib/locale/lang/en'

    Vue.use(ElementUI, { locale });
    export default {
        data: function() {
            return {
                fileList: [],
                loading: false,
                upload: '',
            }
        },
        methods: {
            submitUpload(formName) {
                let self = this;
                        if(self.$refs.upload) {
                                self.loading = !self.loading;
                                self.$refs.upload.submit();
                        }
            },

            submitUpload() {
                this.$refs.upload.submit();
            }
        }
    }
</script>