
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.el-upload__input{
  display: none !important;
}
.el-upload-dragger{
  height: 284px !important;
}
.upload-demo{
  text-align: center !important;
}